%li
  .comment
    = comment.body
    %br
    %small= "#{time_ago_in_words(comment.created_at) } ago"
    -if logged_in? && comment.parent_id.nil?
      .box
        -if logged_in?   
          = form_for [comment.rss_feed, comment, Comment.new], remote: true, html: { id: "comment_#{comment.id}_reply" } do |f|
            = render "comments/form", f: f, placeholder: "Add a reply"
  %ul.mlt-50{id: "comment_#{comment.id}_replies"}
    =render comment.replies 